/* 
### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
 */
 body{
    background:hsl(224, 23%, 55%);
    font-size: 16px;
    background-image: url(/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Red Hat Display";
    font-weight: 500;
    margin: 0;
    padding: 0;
 }
 h1{
     font-weight: 900;
 }
 p{
     font-weight: 700;
 }
.container{
    min-width:254px;
    max-width:330px ;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 20px;
}
#illustration-hero{
    width:100%;
    border-radius: 20px 20px 0 0;
}
.sub-content{
    padding: 10px;
}
.sub-content p{
    font-weight: 500;
}
.annual{
 display: flex;
 width: 92%;
 justify-content: space-between;
 line-height: 3px;
 align-items: center;
 background: hsl(225, 100%, 98%);
 margin: 0;
 padding: 10px;
 padding-left: 10px;
 padding-right: 10px;
 border-radius: 12px;
}
.plan{
    margin-left: 20px;
}
.item:last-child{
    flex: 1;
    text-align: right;
    /* padding-right:10px; */
    color:hsl(223, 47%, 23%);
}
button{
    font-weight: 700;
    background:  hsl(245, 75%, 52%);
    color: white;
    padding: 1rem;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 10px 0px hsl(224, 23%, 55%);
}
button:hover{
    background: black;
}
#cancel{
    color:hsl(224, 23%, 55%);
    font-weight: 500;
    margin: 0px;
    margin-top: 18px;
}
#cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

